[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
coreapi = "*"
pyyaml = "*"
inflection = "*"
django-rest-swagger = "*"
setuptools = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"

[dev-packages]

[requires]
python_version = "3.12"
